* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    background-color: rgb(225, 225, 238);
    width: 300px;
    text-align: right;
}

a {
    text-decoration: none;
}

body {
    background-color: #78C0E0;
}

/* HEADER & NAV  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #150578;
    padding: 10px 0;   
}

header nav a {
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 30px;

}

header nav a:hover {
    color: #78c0e0;
}

/* HERO BANNER */

.hero {
background-image: url("../images/blue-banner.jpg");
background-size: cover;
min-height: 30vh;
background-position: center;
display: flex;
justify-content: space-between;
align-items: flex-end;
padding: 20px 0;
}

.hero img {
    border-radius: 200px;
    width: 175px;
    height: 250px;
    padding-left: 10px;
}

.hero div{
    flex: 0 0 10%
}

.hero div h2 {
    background-color: rgb(225, 225, 238);
    color: black;
    margin: 0;
    padding: 2px 10px;
    width: 1000px;    
}

/* MAIN CONTENT */

main {
    margin: 20px 0;
    max-width: 88%;
}

.about-me {
    margin: 20px 0;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    font-size: 20px;
}

#about {
    display: flex;
    margin: 25px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.2;
}

/* .my-work {
    font-size: 20px;
    padding: 0 30px; 
}  */

/* .projects {
    border: 2px 2px 2px;
} */

/* .work1 {
    position: relative;
    top: 500px;
    left: 17px;
    background-color: rgb(225, 225, 238);
} */

#deemphasized {
    display: flex;
}

.project1-header {
    position: relative;
    top: 409px;
    left: 17px;
}

.work-header {
    position: relative;
    top: 206px;
    left: 17px;
}

#first {
    width: 900px;
}



.my-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    list-style: none;
    font-size: 20px;
}

